[submodule "Server/RepositoryDB"]
	path = Server/RepositoryDB
	url = https://github.com/Daitarus/RepositoryDB.git
[submodule "CryptL"]
	path = CryptL
	url = https://github.com/Daitarus/CryptL.git
[submodule "ProtocolTransport"]
	path = ProtocolTransport
	url = https://github.com/Daitarus/ProtocolTransport.git
[submodule "ConsoleWorker"]
	path = ConsoleWorker
	url = https://github.com/Daitarus/ConsoleWorker.git
