<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=localhost;Port=5432;Database=FileCloudStorage;UserId=user;Password=qwerty123" />
		<add key="IpString" value="127.0.0.1"/>
		<add key="PortString" value="5000"/>
		<add key="createScriptPath" value="CreateTables.sql"/>
		<add key="FileHubPath" value="C:\Users\User\Desktop\DataServer\" />
	</appSettings>
</configuration>